@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tablet-bg@2x.jpg);
    }
  }

  .hero .container {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .features-icon-wrap {
    display: none;
  }

  .projects-section {
    display: none;
  }
}
