@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  .hero .container {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .features-icon-wrap {
    display: none;
  }

  .projects-section {
    display: none;
  }
}
