:root {
  --primary-brand-color: #4d5ae5;
  --hover-focus-color: #404bbf;
  --dark-color: #2e2f42;
  --success-green-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --transition-timing-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ========== Body ========== */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  font-size: 16px;
  color: var(--dark-color);
}
/* ========== Body ========== */

/* ========== Header ========== */

.page-header {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--accent-color);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-logo,
.menu-link,
.address-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-right: 76px;
}

.logo-decor {
  color: var(--primary-brand-color);
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-item {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--hover-focus-color);
  border-radius: 2px;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  transition: color var(--transition-timing-func);
}

.menu-link:hover,
.menu-link:focus,
.current {
  color: var(--hover-focus-color);
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
}

.address-item:not(:last-child) {
  margin-right: 40px;
}

.address-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transition-timing-func);
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-focus-color);
}
/* ========== /Header ========== */

/* ================ hero ================== */
.hero {
  /* background-color: var(--dark-color); */
  padding: 188px 0px;
  text-align: center;
  margin: auto;

  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-color: var(--dark-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  width: 500px;
  margin: auto;
  margin-bottom: 48px;
}

.modal-btn {
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-brand-color);

  transition: background-color var(--transition-timing-func);
}

.modal-btn:active,
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-focus-color);
}

/* ================ /hero ================== */

/* =========== Styles for sections ========= */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.section-suptitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.section-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* =========== Styles for sections ========= */

/* ========= section 2 - features ======== */
.features-section {
  padding-bottom: 0px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--light-color);
  border-radius: 4px;
}

.features-icon {
  width: 64px;
  height: 64px;
}
/* ========= /section 2 - features ======== */

/* ========= section 3 - projects ======== */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* ========= /section 3 - projects ======== */

/* ========= section 4 - team ======== */

.team-section {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  /* border: 1px solid #000000; */
}

.team-text-item {
  padding: 32px 16px;
  text-align: center;
}

.team-list-item .section-description {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color var(--transition-timing-func);
}

.team-section .social-list-link:hover,
.team-section .social-list-link:focus {
  background-color: var(--hover-focus-color);
}

.social-list-icon {
  width: 16px;
  height: 16px;
  fill: var(--light-color);
}

/* ========= /section 4 - team ======== */

/* ========= section 5 - Customers ============= */

.customers-section {
  background-color: var(--white-color);
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.customers-list-item {
  flex-basis: calc((100% - 120px) / 6);
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--transition-timing-func);
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: #afb1b8;
  transition: fill var(--transition-timing-func);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--hover-focus-color);
}

.customers-list-link:hover .customers-icon,
.customers-list-link:focus .customers-icon {
  fill: var(--hover-focus-color);
}

/* ========= /section 5 - Customers ============= */

/* ================= Footer ================= */

.footer {
  background-color: var(--dark-color);
  padding: 100px 0px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  /* gap: 120px; */
}

.footer-info {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  display: block;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.footer-container social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-social {
  margin-right: 80px;
}

.footer-social-title {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-container .social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-timing-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--success-green-color);
}

.footer-container .social-list-icon {
  width: 24px;
  height: 24px;
  fill: var(--light-color);
}

.subscribe-title {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--dark-color);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
  outline: none;
  border-color: var(--success-green-color);
}

.subscribe-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-brand-color);

  transition: background-color var(--transition-timing-func);
}

.subscribe-form-submit:is(:active, :hover, :focus) {
  background-color: var(--hover-focus-color);
}

.subscribe-icon {
  fill: var(--white-color);
  margin-left: 16px;
  width: 24px;
  height: 24px;
}
/* ================= /Footer ================= */

/* =========== Portfolio ========= */

.portfolio-section {
  padding-top: 96px;
}

.filters-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.filter-btn {
  min-width: 69px;
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  transition: background-color var(--transition-timing-func),
    color var(--transition-timing-func),
    box-shadow var(--transition-timing-func);
}
.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--hover-focus-color);
  border-color: transparent;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-list-link {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition-timing-func);
}

.portfolio-list-img-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: auto;
  border-radius: 0px;
  transform: translate(0, 100%);
  transition: transform var(--transition-timing-func);

  color: var(--light-color);
  background-color: var(--primary-brand-color);
  padding: 40px 32px;
}

.portfolio-list-link:is(:hover, :focus) .overlay {
  transform: translate(0, 0);
}

.portfolio-list-text {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
}

/* =========== /Portfolio ========= */

/* =========== Modal window ========= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-timing-func),
    visibility var(--transition-timing-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transform: scale(2.5); */
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);

  transition: border-color var(--transition-timing-func),
    background-color var(--transition-timing-func);
}

.modal-close-btn:is(:hover, :focus) {
  background-color: var(--hover-focus-color);
}

.modal-close-btn-icon {
  transition: fill var(--transition-timing-func);
  width: 8px;
  height: 8px;
}

.modal-close-btn:is(:hover, :focus) .modal-close-btn-icon {
  fill: var(--white-color);
}

/* =========== Modal form ========= */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color) #2e2f42;
  margin-bottom: 16px;
}

.modal-form-filed {
  margin-bottom: 8px;
}

.textaria-filed {
  margin-bottom: 16px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  margin-bottom: 4px;
  /* display: block; */
}

.modal-form-input-wrap {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--dark-color);
  transition: border-color var(--transition-timing-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  display: block;
  width: 18px;
  height: 24px;
  fill: var(--dark-color);
  transition: fill var(--transition-timing-func);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-brand-color);
}

.modal-form-messege {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--dark-color);
  transition: border-color var(--transition-timing-func);
}

.modal-form-messege::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-messege:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.user-policy-filed {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.policy-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
}

.modal-form-check-input:checked + .policy-icon-box {
  background-color: var(--hover-focus-color);
}

.modal-form-check-input:is(:hover, :focus) + .policy-icon-box {
  border-color: var(--primary-brand-color);
}

.policy-icon-check {
  opacity: 0;
  fill: var(--light-color);
  width: 10px;
  height: 8px;
}

.modal-form-check-input:checked + .policy-icon-box .policy-icon-check {
  opacity: 1;
}

.user-policy-desc {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  cursor: pointer;
}

.modal-form-submit {
  align-self: center;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-brand-color);

  transition: background-color var(--transition-timing-func);
}

.modal-form-submit:is(:active, :hover, :focus) {
  background-color: var(--hover-focus-color);
}

/* =========== /Modal window ========= */
