@media screen and (min-width: 768px) {
  .container {
    max-width: 582px;
  }

  .hero {
    padding-top: 111px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desktop-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/desktop-bg@2x.jpg);
    }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 500px;
    margin: auto;
    margin-bottom: 40px;
  }

  .features-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .features-section .container {
    min-width: 768px;
  }

  .features-list {
    gap: 72px 24px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-suptitle {
    text-align: left;
  }

  .team-section {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  /* .team-list {
    gap: 64px 24px;
  } */
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }

  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
